doctype html
html
  head
    title Staggered SCSS Transitions
    link(rel='stylesheet' href='styles/site.css')
  body
    ul.list
      li
        a(href='#0', style='--delay: 0.00s;')
          span This | &#x2460;
         
      li
        a(href='#0', style='--delay: 0.05s;')
          span Little | &#x2461;
        
      li
        a(href='#0', style='--delay: 0.10s;')
          span Piggy | &#x2462; 
       
      li
        a(href='#0', style='--delay: 0.15s;')
          span Went | &#x2463; 
        
      li
        a(href='#0', style='--delay: 0.20s;')
          span To | &#x2464; 
       
      li
        a(href='#0', style='--delay: 0.25s;')
          span Market | &#x2465; 
        
          