doctype html
html
  head
    title Staggered SCSS Transitions
    link(rel='stylesheet' href='styles/site.css')
  body
    ul.list
      li
        a(href='#0', style='--delay: 0.00s;')
          runspan This 
         
      li
        a(href='#0', style='--delay: 0.05s;')
          span Little 
        
      li
        a(href='#0', style='--delay: 0.10s;')
          span Piggy 
       
      li
        a(href='#0', style='--delay: 0.15s;')
          span Went 
        
      li
        a(href='#0', style='--delay: 0.20s;')
          span To 
       
      li
        a(href='#0', style='--delay: 0.25s;')
          span Market  
        
          