doctype
html
  head
    title Staggered SCSS Transitions
    link(rel='stylesheet' href='styles/site.css')
  body
    ul.list
      li
        a(href='#0', style='--delay: 0.00s;')
        | &#x2460; 
        span This
      li
        a(href='#0', style='--delay: 0.05s;')
        | &#x2461; 
        span Little
      li
        a(href='#0', style='--delay: 0.10s;')
        | &#x2462; 
        span Piggy
      li
        a(href='#0', style='--delay: 0.15s;')
        | &#x2463; 
        span Went
      li
        a(href='#0', style='--delay: 0.20s;')
        | &#x2464; 
        span To
      li
        a(href='#0', style='--delay: 0.25s;')
        | &#x2465; 
        span Market
